; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block hang-climbing fences to get on roofs
{
    ; invisible block above left fence
    "origin" "586 -142 32"
    "angles" "0 28 0"
    "mins" "-8 -48 -262"
    "boxmins" "-8 -48 -262"
    "maxs" "8 48 262"
    "boxmaxs" "8 48 262"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above right fence
    "origin" "606 43 -47"
    "angles" "0 -15 0"
    "mins" "-4 -25 -187"
    "boxmins" "-4 -25 -187"
    "maxs" "4 25 187"
    "boxmaxs" "4 25 187"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block cheap hunter-jesus spot under a sign near first fence
{
    ; invisible block inside fence cubby hole
    "origin" "385 64 -313"
    "mins" "-15 -22 -63"
    "maxs" "15 22 63"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors getting onto balconies and onto rooftops
{
    ; invisible block above left side balcony
    "origin" "-720 -128 -140"
    "mins" "-48 -192 -76"
    "maxs" "48 192 76"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above right side balcony
    "origin" "-1136 -512 196"
    "mins" "-48 -256 -253"
    "maxs" "48 256 253"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors bhopping over metal fence to shortcut
{
    ; invisible block over metal fence
    "origin" "-1740 -1284 -134"
    "mins" "-32 -12 -82"
    "maxs" "32 12 82"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block balconies in street corner (zombie-jump accessible)
{
    ; invisible block (first balcony)
    "origin" "-737 -2048 -208"
    "mins" "0 0 0"
    "maxs" "65 256 150"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (second balcony)
    "origin" "-687 -2304 -176"
    "mins" "-518 -64 0"
    "maxs" "0 0 320"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block jesus spot on telephone
{
    ; invisible block above telephone
    "origin" "-1731 -2370 -224"
    "mins" "-37 -14 -153"
    "maxs" "37 14 153"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block stuck spot on roof near semi
{
    ; invisible block
    "origin" "-272 -2055 50"
    "mins" "-176 -6.5 -94"
    "maxs" "176 6.5 94"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block stuck spot on roof near end saferoom
{
    ; invisible block
    "origin" "-3948 257 130"
    "mins" "-21 -252.5 -147"
    "maxs" "21 252.5 147"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block griefing spot in end saferoom for configs with SI-noclip enabled
{
    ; invisible block to prevent spawning in grief spot
    "origin" "-4014 -1385 -82"
    "mins" "-240.5 -40 -66"
    "maxs" "240.5 40 66"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block pistol/melee falling into water through crack behind table
{
    ; invisible block along crack
    "origin" "676 662 -486"
    "mins" "-4 -150 -4"
    "maxs" "4 150 4"
    "boxmins" "-4 -150 -4"
    "boxmaxs" "4 150 4"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; --- prevent SI getting stuck in small hallway
{
    ; wooden plank propped up in hallway
    "solid" "6"
    "origin" "-2176 -2538 -320"
    "angles" "0 0 35"
    "model" "models/props_swamp/plank001b_192.mdl"
    "disableshadows" "1"
    "classname" "prop_dynamic"
}
; --- block stuck spot on top of jukebox building roof
{
    ; invisible block on roof
    "origin" "-1543.5 -1855.5 249.56"
    "mins" "-283 -115 -138"
    "maxs" "283 115 999"
    "boxmins" "-283 -115 -138"
    "boxmaxs" "283 115 999"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; =====================================================
add:
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_street/awning_short.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	
	"origin" "-3746 -441 -68.298"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "116.06 -829.242 -377"
}
{
	"classname" "prop_dynamic"
	"angles" "0.537281 179.843 -32.4961"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-666 -2525 -320"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_downtown/dormer_window01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1310 -1649 -29.8557"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_downtown/dormer_window01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1595 -1649 -29.8557"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/fire_escape_wide_upper.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1698 -2621 -39"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 90"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_128_001a.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1775.49 -2659.88 -180.395"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/chimney005.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1217 -2707 39"
}
{
	"classname" "prop_dynamic"
	"angles" "0.537281 179.843 -32.4961"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-91 -2735 -320"
}
{
	"classname" "prop_dynamic"
	"angles" "0.537281 179.843 -32.4961"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-50 -2735 -320"
}
{
	"classname" "prop_dynamic"
	"angles" "-33.9984 0.60253 -0.358736"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-167 -46 -195.766"
}
{
	"classname" "prop_dynamic"
	"angles" "-33.9984 0.60253 -0.358736"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-167 1 -195.766"
}
{
	"classname" "prop_dynamic"
	"angles" "-33.9984 0.60253 -0.358736"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-167 -93 -195.766"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_signs/waterfront_market.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-2441 -2184 -33"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_urban/fire_escape_wide_upper.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-496 -2598 -36.272"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_urban/chimney007.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1485.99 -1621.65 -62.1403"
}
{
	"classname" "prop_dynamic"
	"angles" "0 135.5 0"
	"disableshadows" "1"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-26 -1108 -375.742"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_pot_xlsquare01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "1009 -349.021 -368.688"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_foliage/urban_hedge_128_64_high.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "1014.84 -350.718 -366.688"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 90"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_128_001a.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-1775.49 -2638.88 -180.395"
}
{
	"classname" "prop_dynamic"
	"angles" "0.537281 179.843 -32.4961"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	
	"origin" "-2175.43 -2539.21 -319.471"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_03.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3701 -381 -77.298"
}